<html>
    <head>
        <title></title>Welcome!</title>
        <script src="../scripts/index.js"></script>
    </head>
    <body>
        <a href="/signup">Sign UP!</a>
        <a href="/login">Log in</a>

        <form action='' method='post'>
            <input type='text' placeholder='Username' name='username' value='{{request.form.username}}'>
            <input type='password' placeholder='Password' name='password' value='{{request.form.password}}'>
            <input type='submit' value='Submit'>
        </form>

        {% if error_code == "1" %}
            <h1>That username or password was incorrect</h1>
        {% endif %}
    </body>
</html>